body {
    background-color: #E38129;
    margin-top: 100px;
    font-family: voltarie;
}
.container {
    display: flex;
}
.Titulo {
    background-color: #b8590659;
    border-radius: 10px;
    margin-bottom: 40px;
    width: 278px;
    align-items: center;
}
h1 {
    font-size: 48px;
}
.Nome {
    width: 271px;
    height: 38px;
    margin-bottom: 20px;
}
.Senha{
    width: 271px;
    height: 38px;
    margin-bottom: 20px;
}
.botao{
    display: flex;
    justify-content: center;
}
.entrar{
    width: 271px;
    height: 38px;
    margin-bottom: 5px;
}
main  {
    margin-bottom: 100px;
}
footer {
    display: flex;
    background-color: #C4C4C44D;
    border-top: solid 2px #C4C4C44D;
    width: 100%;
}
.Cadastre-se {
    justify-content: center;
}