body{
    background-color: #ffa600;
    font-family: Voltaire;
    margin-bottom: 100px;
}
header{
    width: 100%;
    height: 100px;   
    text-align: center;
    background: linear-gradient(168.51deg, #B10598 2.1%, #D01E4A 47.66%, #FF7800 98.81%), #DF6C07;
}
.logo img{
    width: 130px;
}
.row{
    margin: 0 !important;
}
main{
    background-color: orange;
}

.bardomacaco{
    position: relative;
    background-color: #FF8921;
    padding-top: 13.3px;
    padding-bottom: 13.3px;
    border-top: solid 1px rgb(73, 73, 73);
}
.bardomacaco:hover {
    background-color: #e7730e;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.39));
    cursor: pointer;
}
.bardomacaco img{
    width: 200px;
    display: inline;
    width: 50px;
}
.bardomacaco p{
    display: inline;
}
.bardomacaco svg{
    position: absolute;
    display: inline;
    right: 10%;
    top: 22%;
}
footer{
    background: linear-gradient(168.51deg, #B10598 2.1%, #D01E4A 47.66%, #FF7800 98.81%), #DF6C07;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
}
.footer svg{
    display: inline;
    margin-left: 9%;
    margin-right: 2%;
    margin-top: 7px;
    text-align: center;
}
a {
    color: rgb(41, 39, 39);
}
a:hover {
    color: black;
}
@media screen and ( min-width : 900px){
    .footer svg{
        margin-left: 17%
    }
    .bardomacaco{
        margin-top: 30px;
    }
}