@media screen and (max-width: 800px) {
    body {
        max-width: 100%;
    }
    .Titulo {
        margin-left: 215px;
    }
    .Nome {
       margin-left: 210px;
   }
   .Senha {
       margin-left: 210px;
   }
}
@media screen and (max-width: 750px) {
    .Titulo {
        margin-left: 150px;
    }
    .Nome {
       margin-left: 120px;
   }
   .Senha {
       margin-left: 120px;
   }
}
@media screen and (max-width: 450px) {
    .Titulo {
        margin-left: 78px;
    }
    .Nome {
       margin-left: 71px;
   }
   .Senha {
       margin-left: 71px;
   }
}
@media screen and (max-width: 375px) {
    .Titulo {
        margin-left: 40px;
    }
    .Nome {
       margin-left: 40px;
   }
   .Senha {
       margin-left: 40px;
   }
}