body {
    background: linear-gradient(168.51deg, #B10598 2.1%, #D01E4A 47.66%, #FF7800 98.81%), #DF6C07;
}
.row {
    margin: 0 !important;
}
.cabecalho{
    text-align: center;
}
.barra_nav{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px;
    background-color: #FF8921;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: black;
    text-decoration: none;
}
.titulo{
    font-size: 25px;
    text-align: center;
}
.opcao{
    margin-top: 30px;
    padding: 10px;
}
.bi-globe2{
    margin-top: 4px;
}
.fundo{
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    height: 548px;
}
.icone{
    display: inline-block;
    padding: 2px;
    padding-top: 2px;
}
.texto{
    text-align: center;
    font-size: 30px;
    padding-right: 50px;
}
.linha{
    border-left: solid 5px black;
    border-bottom: 1px solid rgb(73, 73, 73);
    padding: 20px;
}
.linha:hover {
    box-shadow: -5px 0px 0px #000000;
}

.butao{
    margin-top: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black !important;
    width: 75%;
    margin-bottom: 10px;
    cursor: pointer;
}
.posicao{
    text-align: center;
}